dist

# System
.DS_Store

# Python specific
.venv/
__pycache__/
**/__pycache__/
.env
.idea/
**/.pytest_cache/
**/.mypy_cache/
/coverage
htmlcov
**/*.xlsm#
**/*.xlsx#


# Nix specific
.envrc
.direnv/
.devenv
tests/data/calculations/.~lock.CPTU8-input.xlsx#
